@import 'settings';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background: $bg-color;
  color: $primary-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: $base-fonts;
}

h1 {
  color: $secondary-color;
  & strong{ color: $primary-color; }
  font-family: $heading-font;
  font-weight: 100;
  font-size: 4.2em;
}

input {
  border: 1px solid $primary-color;
  background-color: $primary-color;

  font-size: 1.5em;
  font-weight: 200;

  width: 50vw;
  height: 62px;

  padding: 15px 20px;
  margin: 0;
  outline: 0;

  &::-webkit-input-placeholder {
    color: $bg-color;
  }

  &::-moz-placeholder {
    color: $bg-color;
  }

  &::-ms-input-placeholder {
    color: $bg-color;
  }

  &:hover, &:focus, &:active {
    background: $primary-color;
  }
}

button {
  background: $bg-color;
  border-radius: 0px;
  border: 1px solid $primary-color;
  color: $primary-color;

  height: 62px;

  font-size: 1.8em;
  font-weight: 100;

  outline: none;

  padding: 5px 15px;

  margin: 0 3px;

  &:hover, &:disabled {
    background: $primary-color;
    color: #111;
  }
  &:active {
    outline: 2px solid $primary-color;
  }
  &:focus {
    border: 1px solid $primary-color;
  }
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1.2em;
  width: 50vw;
}


li {
  font-size: 1.8em;
  &.completed{
    color: $secondary-color;
    text-decoration: line-through;
  }
}

.flex {
  display: flex;
  align-items: top;
  margin: 20px 0;
}
