@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding-top: 50px;
  background: #111;
  color: #00caff;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: Helvetica Neue, sans-serif; }

h1 {
  color: #00caff;
  font-family: Racing Sans One, sans-serif;
  font-weight: 100;
  font-size: 4.2em; }

input {
  border: 1px solid #00caff;
  background-color: #00caff;
  font-size: 1.5em;
  font-weight: 200;
  width: 50vw;
  height: 62px;
  padding: 15px 20px;
  margin: 0;
  outline: 0; }
  input::-webkit-input-placeholder {
    color: #111; }
  input::-moz-placeholder {
    color: #111; }
  input::-ms-input-placeholder {
    color: #111; }
  input:hover, input:focus, input:active {
    background: #00caff; }

button {
  background: #111;
  border-radius: 0px;
  border: 1px solid #00caff;
  color: #00caff;
  height: 62px;
  font-size: 1.8em;
  font-weight: 100;
  outline: none;
  padding: 5px 15px;
  margin: 0 3px; }
  button:hover, button:disabled {
    background: #00caff;
    color: #111; }
  button:active {
    outline: 2px solid #00caff; }
  button:focus {
    border: 1px solid #00caff; }

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1.2em;
  width: 50vw; }

li {
  font-size: 1.8em; }

.flex {
  display: flex;
  align-items: top;
  margin: 20px 0; }
